.loginForm {
    background: none;
    border: 4px solid #62B28D;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: 12px;
    margin: auto;
}

.loginForm > ul {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    li {
        list-style-type: none;
        width: 45%;
    }  
}